In [16]:
import os
import json
import pandas as pd

root_dir = (r'C:\Users\snaks\OneDrive\Desktop\pulse-master\pulse-master\data')

#initialize empty list to hold dictionaries of data for eah JSON file
data_list=[]

#Loop over all the state folders
for state_dir in os.listdir(os.path.join(root_dir,r'C:\Users\snaks\OneDrive\Desktop\pulse-master\pulse-master\data\aggregated\transaction\country\india\state')):
    state_path = os.path.join(root_dir,r'C:\Users\snaks\OneDrive\Desktop\pulse-master\pulse-master\data\aggregated\transaction\country\india\state', state_dir)
    if os.path.isdir(state_path):
    
#Loop over all the year folders
      for year_dir in os.listdir(state_path): 
          year_path = os.path.join(state_path, year_dir) 
          if os.path.isdir(year_path):

# Loop over all the JSON files (one for each quarter)

              for json_file in os.listdir (year_path):
                if json_file.endswith('.json'): 
                  with open(os.path.join(year_path, json_file)) as f: 
                    data= json.load(f)

#Extract the data we're interested in

                    for transaction_data in data['data']['transactionData']:

                        row_dict = {
                           'States': state_dir,
                           'Transaction_Year': year_dir,
                           'Quarters': int(json_file.split('.')[0]),
                           'Transaction_Type': transaction_data['name'],
                           'Transaction_Count': transaction_data['paymentInstruments'][0]['count'], 
                           'Transaction_Amount':transaction_data['paymentInstruments'][0]['amount']
                        }        
                        data_list.append(row_dict)

df1 = pd.DataFrame(data_list)
df1

,States,Transaction_Year,Quarters,Transaction_Type,Transaction_Count,Transaction_Amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
3589,west-bengal,2022,4,Peer-to-peer payments,184380244,6.202222e+11
3590,west-bengal,2022,4,Merchant payments,171667404,1.408077e+11
3591,west-bengal,2022,4,Recharge & bill payments,48921147,2.602663e+10
3592,west-bengal,2022,4,Financial Services,268388,2.611229e+08
3593,west-bengal,2022,4,Others,610414,4.579379e+08

In [17]:
import os
import json
import pandas as pd

root_dir = r'C:\Users\snaks\OneDrive\Desktop\pulse-master\pulse-master\data\aggregated\user\country\india\state'

df2_list = []

for state_dir in os.listdir(root_dir):
    state_path = os.path.join(root_dir, state_dir)
    if os.path.isdir(state_path):
        for json_file in os.listdir(state_path):
            if json_file.endswith('.json'):
               with open(os.path.join(state_path, json_file), 'r') as f:
                   json_data = json.load(f)
                   if isinstance(json_data, list):
                       df2_list += json_data
                   else:
                       df2_list.append(json_data)

        if df2_list: 
            df2 = pd.json_normalize (df2_list)
            df2['subfolder'] = state_dir
            df2['subsubfolder'] = 'state'

df2= pd.DataFrame(data_list)    
df2

,States,Transaction_Year,Quarters,Transaction_Type,Transaction_Count,Transaction_Amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
3589,west-bengal,2022,4,Peer-to-peer payments,184380244,6.202222e+11
3590,west-bengal,2022,4,Merchant payments,171667404,1.408077e+11
3591,west-bengal,2022,4,Recharge & bill payments,48921147,2.602663e+10
3592,west-bengal,2022,4,Financial Services,268388,2.611229e+08
3593,west-bengal,2022,4,Others,610414,4.579379e+08

In [18]:
import os
import json
import pandas as pd

root_dir=(r'C:\Users\snaks\OneDrive\Desktop\pulse-master\pulse-master\data')

# Initialize empty list to hold dictionaries of data for each JSON file

data_list = []

#Loop over all the state folders

for state_dir in os.listdir(os.path.join(root_dir,r'C:\Users\snaks\OneDrive\Desktop\pulse-master\pulse-master\data\map\transaction\hover\country\india\state')):
   state_path = os.path.join(root_dir,r'C:\Users\snaks\OneDrive\Desktop\pulse-master\pulse-master\data\map\transaction\hover\country\india\state', state_dir) 
   if os.path.isdir(state_path):

# Loop over all the year folders
       for year_dir in os.listdir(state_path):
           year_path = os.path.join(state_path, year_dir)
           if os.path.isdir(year_path):

#Loop over all the JSON files (one for each quarter)
              for json_file in os.listdir(year_path):
                 if json_file.endswith(".json"):
                    with open(os.path.join(year_path, json_file)) as f:
                        data = json.load(f)

#Extract the data we're interested in
                        for hoverDataList in data['data']['hoverDataList']:   
                            row_dict={
                                'States': state_dir,
                                'Transaction_Year': year_dir,
                                'Quarters': int(json_file.split('.')[0]),
                                'District': hoverDataList['name'],
                                'Transaction_Type': hoverDataList['metric'][0]['type'],
                                'Transaction_Count': hoverDataList['metric'][0]['amount']
                            }
                            data_list.append(row_dict)

# Convert list of dictionaries to data df3= pd.DataFrame(data_list)
df3 =pd.DataFrame(data_list)
df3

,States,Transaction_Year,Quarters,District,Transaction_Type,Transaction_Count
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,TOTAL,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district,TOTAL,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district,TOTAL,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,TOTAL,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district,TOTAL,2.394824e+07
...,...,...,...,...,...,...
14631,west-bengal,2022,4,nadia district,TOTAL,2.804568e+10
14632,west-bengal,2022,4,birbhum district,TOTAL,1.614650e+10
14633,west-bengal,2022,4,purba medinipur district,TOTAL,3.309949e+10
14634,west-bengal,2022,4,maldah district,TOTAL,2.721861e+10
14635,west-bengal,2022,4,darjiling district,TOTAL,1.801650e+10

In [19]:
import os

import json

import pandas as pd

root_dir = r'C:\Users\snaks\OneDrive\Desktop\pulse-master\pulse-master\data\map\user\hover\country\india\state'

#Initialize empty list to hold dictionaries of data for each JSON file data_list = []

#Loop over all the state folders

for state_dir in os.listdir(root_dir):
    state_path= os.path.join(root_dir, state_dir)
    if os.path.isdir(state_path):

# Loop over all the year folders

       for year_dir in os.listdir (state_path):
           year_path = os.path.join(state_path, year_dir)
           if os.path.isdir(year_path):

# Loop over all the JSON files (one for each quarter)
              for json_file in os.listdir(year_path): 
                  if json_file.endswith('.json'):
                     with open(os.path.join(year_path, json_file)) as f:
                         data= json.load(f)

#Extract the date we're interested in

                         for district, values in data['data']['hoverData'].items():
                             row_dict ={ 
                                 'States': state_dir,
                                 'Transaction_Year': year_dir, 
                                 'Quarter': int(json_file.split('.')[0]),
                                 'District': district,
                                 'RegisteredUsers': values['registeredUsers'],
                             }
                             data_list.append(row_dict)

# Convert list of dictionaries to dataframe

df4=pd.DataFrame(data_list)
df4

,States,Transaction_Year,Quarters,District,Transaction_Type,Transaction_Count,Quarter,RegisteredUsers
0,andaman-&-nicobar-islands,2018,1.0,north and middle andaman district,TOTAL,9.316631e+05,NaN,NaN
1,andaman-&-nicobar-islands,2018,1.0,south andaman district,TOTAL,1.256025e+07,NaN,NaN
2,andaman-&-nicobar-islands,2018,1.0,nicobars district,TOTAL,1.139849e+06,NaN,NaN
3,andaman-&-nicobar-islands,2018,2.0,north and middle andaman district,TOTAL,1.317863e+06,NaN,NaN
4,andaman-&-nicobar-islands,2018,2.0,south andaman district,TOTAL,2.394824e+07,NaN,NaN
...,...,...,...,...,...,...,...,...
29271,west-bengal,2022,NaN,nadia district,NaN,NaN,4.0,1359420.0
29272,west-bengal,2022,NaN,birbhum district,NaN,NaN,4.0,855236.0
29273,west-bengal,2022,NaN,purba medinipur district,NaN,NaN,4.0,1346908.0
29274,west-bengal,2022,NaN,maldah district,NaN,NaN,4.0,954892.0
29275,west-bengal,2022,NaN,darjiling district,NaN,NaN,4.0,564562.0

In [20]:
#Initialize empty list to hold dictionaries of data for each JSON file
import os

import json

import pandas as pd
root_dir=(r'C:\Users\snaks\OneDrive\Desktop\pulse-master\pulse-masterdata')

data_list = []

#Loop over all the state folders

for state_dir in os.listdir(os.path.join(root_dir, r'C:\Users\snaks\OneDrive\Desktop\pulse-master\pulse-master\data\top\transaction\country\india\state')): 
    state_path = os.path.join(root_dir, r'C:\Users\snaks\OneDrive\Desktop\pulse-master\pulse-master\data\top\transaction\country\india\state', state_dir) 
    if os.path.isdir(state_path):

#Loop over all the year folders

        for year_dir in os.listdir (state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):
                

# Loop over all the JSON files (one for each quarter)
               for json_file in os.listdir (year_path):
                   if json_file.endswith('.json'):
                       with open(os.path.join(year_path, json_file)) as f:
                           data= json.load(f)

# Extract the data we're interested in

                           for districts in data['data']['districts']:
                               row_dict = {
                                   'States': state_dir,
                                   'Transaction_Year': year_dir,
                                   'District': districts['entityName'],
                                   'Quarters': int(json_file.split('.')[0]), 
                                   'Transaction_Type': districts['metric']['type'],
                                   'Transaction_Count': districts['metric']['count'],
                                   'Transaction_Amount': districts['metric']['amount']
                               }
                               data_list.append(row_dict)

#Convert list of dictionaries to dataframe

df5=pd.DataFrame(data_list)

df5

,States,Transaction_Year,District,Quarters,Transaction_Type,Transaction_Count,Transaction_Amount
0,andaman-&-nicobar-islands,2021,south andaman,3,TOTAL,382418,1.116789e+09
1,andaman-&-nicobar-islands,2021,north and middle andaman,3,TOTAL,46592,1.182549e+08
2,andaman-&-nicobar-islands,2021,nicobars,3,TOTAL,20754,7.498052e+07
3,andaman-&-nicobar-islands,2021,south andaman,4,TOTAL,558571,1.694795e+09
4,andaman-&-nicobar-islands,2021,north and middle andaman,4,TOTAL,53115,1.564861e+08
...,...,...,...,...,...,...,...
5873,west-bengal,2022,south twenty four parganas,4,TOTAL,15651650,3.373698e+10
5874,west-bengal,2022,purba medinipur,4,TOTAL,14484229,3.309949e+10
5875,west-bengal,2022,hooghly,4,TOTAL,13931352,2.755409e+10
5876,west-bengal,2022,howrah,4,TOTAL,13350090,2.793786e+10
5877,west-bengal,2022,paschim medinipur,4,TOTAL,12768161,2.521681e+10

In [21]:
import os

import json

import pandas as pd

root_dir = r'C:\Users\snaks\OneDrive\Desktop\pulse-master\pulse-master\data\top\user\country\india\state'

# Initialize empty list to hold dictionaries of data for each JSON file 
data_list = []

#Loop over all the state folders 
for state_dir in os.listdir(root_dir):
    state_path = os.path.join(root_dir, state_dir)
    if os.path.isdir(state_path):

# Loop over all the year folders

        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

#Loop over all the JSON files

               for json_file in os.listdir (year_path):
                   if json_file.endswith('.json'):
                       with open(os.path.join(year_path, json_file)) as f:
                           data =json.load(f)

# Extract the data we're interested in


for district in data['data']['districts']:
    row_dict = { 
        'State': state_dir,
        'Transaction_Year': year_dir, 
        'Quarters': int(json_file.split('.')[0]),
        'District': district['name'] if 'name' in district else district['pincode'],
        'RegisteredUsers': district['registeredUsers'],
    }
    data_list.append(row_dict)

df6 =pd.DataFrame(data_list)
df6

,State,Transaction_Year,Quarters,District,RegisteredUsers
0,west-bengal,2022,4,north twenty four parganas,3755017
1,west-bengal,2022,4,kolkata,2716412
2,west-bengal,2022,4,south twenty four parganas,1828512
3,west-bengal,2022,4,murshidabad,1778470
4,west-bengal,2022,4,hooghly,1579023
5,west-bengal,2022,4,howrah,1422011
6,west-bengal,2022,4,nadia,1359420
7,west-bengal,2022,4,purba medinipur,1346908
8,west-bengal,2022,4,paschim medinipur,1217113
9,west-bengal,2022,4,purba bardhaman,1119310

In [22]:
d1=df1.drop_duplicates()
#d2=df2.drop_duplicates()
d3=df3.drop_duplicates()
d4=df4.drop_duplicates()
d5=df5.drop_duplicates()
d6=df6.drop_duplicates()

In [23]:
null_counts =d1.isnull().sum()
print(null_counts)

States                0
Transaction_Year      0
Quarters              0
Transaction_Type      0
Transaction_Count     0
Transaction_Amount    0
dtype: int64

In [24]:
null_counts =d3.isnull().sum()
print(null_counts)

States               0
Transaction_Year     0
Quarters             0
District             0
Transaction_Type     0
Transaction_Count    0
dtype: int64

In [25]:
null_counts =d4.isnull().sum()
print(null_counts)

States                   0
Transaction_Year         0
Quarters             14640
District                 0
Transaction_Type     14640
Transaction_Count    14640
Quarter              14636
RegisteredUsers      14636
dtype: int64

In [26]:
null_counts =d5.isnull().sum()
print(null_counts)

States                0
Transaction_Year      0
District              0
Quarters              0
Transaction_Type      0
Transaction_Count     0
Transaction_Amount    0
dtype: int64

In [27]:
null_counts =d6.isnull().sum()
print(null_counts)

State               0
Transaction_Year    0
Quarters            0
District            0
RegisteredUsers     0
dtype: int64

In [28]:
df1.to_csv('agg_trans.csv',index=False)
df2.to_csv('agg_user.csv',index=False)
df3.to_csv('map_tran.csv',index=False)
df4.to_csv('map_user.csv',index=False)
df5.to_csv('top_tran.csv',index=False)
df6.to_csv('top_user.csv',index=False)

In [29]:
Agg_trans=pd.read_csv(r'/content/agg_trans.csv')
Agg_trans=pd.read_csv(r'/content/agg_trans.csv')
Agg_trans=pd.read_csv(r'/content/agg_trans.csv')
Agg_trans=pd.read_csv(r'/content/agg_trans.csv')
Agg_trans=pd.read_csv(r'/content/agg_trans.csv')
Agg_trans=pd.read_csv(r'/content/agg_trans.csv')

FileNotFoundError: [Errno 2] No such file or directory: '/content/agg_trans.csv'

In [ ]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.15-cp311-cp311-win_amd64.whl (2.0 MB)
                                              0.0/2.0 MB ? eta -:--:--
     ----                                     0.2/2.0 MB 6.3 MB/s eta 0:00:01
     -------------                            0.7/2.0 MB 8.5 MB/s eta 0:00:01
     -----------------                        0.8/2.0 MB 6.7 MB/s eta 0:00:01
     -------------------                      1.0/2.0 MB 6.0 MB/s eta 0:00:01
     -------------------                      1.0/2.0 MB 6.0 MB/s eta 0:00:01
     -------------------                      1.0/2.0 MB 6.0 MB/s eta 0:00:01
     --------------------------               1.3/2.0 MB 4.1 MB/s eta 0:00:01
     -----------------------------            1.5/2.0 MB 4.0 MB/s eta 0:00:01
     ---------------------------------        1.6/2.0 MB 4.0 MB/s eta 0:00:01
     ------------------------------------     1.8/2.0 MB 3.9 MB/s eta 0:00:01
     ---------------------------------------  2.0/2.0 MB 3.9 MB/s eta 0:00:01
     ---------------------------------------  2.0/2.0 MB 3.9 MB/s eta 0:00:01
     ---------------------------------------- 2.0/2.0 MB 3.4 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\snaks\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (4.5.0)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-2.0.2-cp311-cp311-win_amd64.whl (192 kB)
                                              0.0/192.5 kB ? eta -:--:--
     -------------------------------------- 192.5/192.5 kB 3.9 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-2.0.2 sqlalchemy-2.0.15
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\snaks\appdata\local\programs\python\python311\lib\site-packages (2.1.1)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
import pymysql
import mysql.connector
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:Csa1809@127.0.0.1:3306/phonepe_pulse", echo=False)
df1.to_sql(name='agg_trans', con=engine, if_exists = 'append', index=False)
df2.to_sql(name='agg_user', con=engine, if_exists = 'append', index=False)
df3.to_sql(name='map_tran', con=engine, if_exists = 'append', index=False)
df4.to_sql(name='map_user', con=engine, if_exists = 'append', index=False)
df5.to_sql(name='top_tran', con=engine, if_exists = 'append', index=False)
df6.to_sql(name='top_user', con=engine, if_exists = 'append', index=False)

10

In [ ]:
import mysql.connector

# establishing the connection
conn = mysql.connector.connect(
   passwd='Csa1809', user='root', host='localhost', port=3306, database='phonepe_pulse')

cursor = conn.cursor()

In [ ]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\snaks\appdata\local\programs\python\python311\lib\site-packages (1.0.3)
Note: you may need to restart the kernel to use updated packages.